@media only screen and (min-width: 0) and (max-width: 992px) {
    .loginMainDiv {
      min-height: 100vh;
      display: flex ;
      background-color: #ff9d00;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23000' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23ff9d00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23fb8d17' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23f47d24' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23ed6e2d' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%23e35f34' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23d85239' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23cc453e' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23be3941' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b02f43' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23a02644' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23901e44' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23801843' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%236f1341' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%235e0f3d' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%234e0c38' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%233e0933' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%232e062c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23210024' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
      background-attachment: fixed;
      background-size: cover;
      background-position: center;
      background-repeat: repeat;
      flex-direction: column ;
      justify-content: center ;
      align-items: center ;
    }
  
    .loginMainDiv h1 {
      font-size: 11vw;
      font-weight: 700;
      color: white;
    }
  
    .loginMainDiv .inputs {
      margin-top: 8.9vw;
      margin-bottom: 8.9vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .loginMainDiv .inputs input {
      width: 86.6vw;
      height: 13.6vw;
      font-size: 4.3vw;
      font-weight: 300;
      color: black;
      margin: 1.5vw;
      box-shadow: 0vw 0.8vw 1.6vw 0vw rgba(0, 0, 0, 0.16);
      -webkit-box-shadow: 0vw 0.8vw 1.6vw 0vw rgba(0, 0, 0, 0.16);
      -moz-box-shadow: 0vw 0.8vw 1.6vw 0vw rgba(0, 0, 0, 0.16);
      border: none;
      border-radius: 1.5vw;
      margin-bottom: 4.3vw;
      padding: 1vw;
      padding-left: 6.5vw;
    }
  
    .loginMainDiv .inputs input::placeholder {
      color: #bcbcbc;
    }
  
    .loginMainDiv button {
      width: 87.3vw;
      height: 16.3vw;
      font-size: 5.3vw;
      border-radius: 8.3vw;
      border: none;
      padding: 1vw;
      background-color: white ;
      color: #880E4F;
      margin-bottom: 1.3vw;
      margin: 2vw;
    }
  }
  